<?xml version="1.0"?>
<!--
/**
 * Shop System Plugins:
 * - Terms of Use can be found under:
 * https://github.com/epaiement-up2pay/magento2/blob/master/_TERMS_OF_USE
 * - License can be found under:
 * https://github.com/epaiement-up2pay/magento2/blob/master/LICENSE
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="CreditAgricole_PaymentGateway_config_provider" xsi:type="object">CreditAgricole\PaymentGateway\Model\Ui\ConfigProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Vault\Model\Ui\TokensConfigProvider">
        <arguments>
            <argument name="tokenUiComponentProviders" xsi:type="array">
                <item name="CreditAgricole_PaymentGateway_creditcard" xsi:type="object">CreditAgricole\PaymentGateway\Model\Ui\TokenUiComponentProvider</item>
            </argument>
        </arguments>
    </type>
</config>
